%
% rebar.config
% =============================================================================
% Urban bus routing microservice prototype (Erlang/OTP port). Version 0.0.4
% =============================================================================
% An Erlang/OTP application, designed and intended to be run as a microservice,
% implementing a simple urban bus routing prototype.
% =============================================================================
% Copyright (C) 2022 Radislav (Radicchio) Golubtsov
%
% (See the LICENSE file at the top of the source tree.)
%

{relx, [
    {release, {
        bus, "0.0.4"
    }, [
        bus
    ]},

    {include_src, false}
]}.

{profiles, [
    {prod, []}
]}.

% vim:set nu et ts=4 sw=4:
