%
% rebar.config
% =============================================================================
% Urban bus routing microservice prototype (Erlang/OTP port). Version 0.3.5
% =============================================================================
% An Erlang/OTP application, designed and intended to be run as a microservice,
% implementing a simple urban bus routing prototype.
% =============================================================================
% Copyright (C) 2022-2025 Radislav (Radicchio) Golubtsov
%
% (See the LICENSE file at the top of the source tree.)
%

{relx, [
    {release, {
        bus, "0.3.5"
    }, [
        bus
    ]},

    {include_src, false}
]}.

{profiles, [
    {prod, []}
]}.

{deps, [
    {cowboy, "2.10.0"},
    {syslog, "1.1.0" },
    {jsx,    "3.1.0" }
]}.

% vim:set nu et ts=4 sw=4:
