%
% rebar.config
% =============================================================================
% Urban bus routing microservice prototype (Erlang/OTP port). Version 0.0.1
% =============================================================================
% An Erlang/OTP application, designed and intended to be run as a microservice,
% implementing a simple urban bus routing prototype.
% =============================================================================
% Copyright (C) 2022 Radislav (Radicchio) Golubtsov
%
% (See the LICENSE file at the top of the source tree.)
%

{erl_opts, [debug_info]}.
{deps,     []          }.

{relx, [
    {release, {
        bus, "0.0.1"
    }, [bus, sasl]},

    {mode, dev},

    % Automatically picked up if the files exist but can be set manually,
    % which is required if the names aren't exactly sys.config and vm.args:
    {sys_config, "./config/sys.config"},
    {vm_args,    "./config/vm.args"   },

    % The .src form of the configuration files
    % do not require setting RELX_REPLACE_OS_VARS:
    % {sys_config_src, "./config/sys.config.src"},
    % {vm_args_src,    "./config/vm.args.src"   },

    {include_src, false}
]}.

{profiles, [
    {prod, [
        {relx, [
            % prod is the default mode when prod profile is used,
            % so does not have to be explicitly included like this:
            {mode, prod}

            % Use minimal mode to exclude ERTS:
            % {mode, minimal}
        ]}
    ]}
]}.

% vim:set nu et ts=4 sw=4:
